# Make the default service account admin on app namespace
# This is to ensure that agent pods can connect to buildkit pods
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  name: defaultrole-binding
  namespace: {{ .Values.app.namespace }}
subjects:
  - kind: ServiceAccount
    name: default
    namespace: {{ .Values.app.namespace }}
roleRef:
  kind: ClusterRole
  name: {{ .Values.rbac.clusterRole }}
  apiGroup: rbac.authorization.k8s.io